@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.typewriter {
    font-family: "Bruno Ace SC", sans-serif;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .10em solid #6200B3;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .04em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(30, end),
        blink-caret .85s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 65%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #6200B3;
    }
}


body {
    background-image: url("../images/heroImage2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #290628be;
    color:white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.navbar {
    background-color: #ffd9da00 !important;

}

.navbar-brand {
    width: 20%;
    border: 2px solid #ffd9da00;
    border-radius: 10px;
    transition: background-color 2s, font-size 3s;
}


.navbar-brand:hover {
    font-size: 25px;
    background-color: #EA7AF4;
}